.top-bar {
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.73);
  color: white;
  border-bottom: 2px solid #696969;
}
body {
  margin: 0;
  padding: 0;
  background-color: #111725;
}
.map-section {
  padding: 5px;
}
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
