.bar {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.space {
  flex: 1;
}

.zone {
  display: flex;
  min-width: 20%;
  align-items: center;
  justify-content: center;
}

.zone:first-child {
  margin-left: 10px;
  justify-content: flex-start;
}

.zone:last-child {
  margin-right: 10px;
  justify-content: flex-end;
}

.font-l {
  font-size: 1.2em;
  font-family: "Montserrat", sans-serif;
  text-shadow: 2px 2px 8px rgba(252, 252, 252, 0.905);
}

.font-s {
  font-size: 0.8em;
}

.font-xs {
  font-size: 0.6em;
  font-family: "Montserrat", sans-serif;
  text-shadow: 2px 2px 8px rgba(252, 252, 252, 0.905);
}

.blank {
  width: 10px;
}

.settings-icon {
  margin-right: -10px;
}

.HeurDate {
  margin-right: 20px;
}
